@import "../../colors.scss";

.task {
    padding: 8px 10px 8px 12px;
    border-radius: 8px;
    list-style-type: none;
    color: $tertiary;
    font-family: cursive;
    background-color: $other;
    //box-shadow: 0 0 0 0 $secondary;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 48px;
    gap: 8px;
    cursor: pointer;

    .title {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        text-align: left;
        gap: 8px;
        width: 100%;
        p{
            word-break: break-word;
        }
        .editingForm {
            width: 100%;
            input {
                background:$tertiary ;
                padding: 6px 8px;
                border:none;
                border-radius: 4px;
                font-family: cursive;
                width: 100%;
            }
        }
    }
    .actions {
        display: flex;
        gap: 8px;
        button {
            cursor: pointer;
            border: none;
            background-color: transparent;
            width: 28px;
            height: 28px;
            border-radius: 6px;
            transition: all 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                color: $secondary;
                font-size: 14px;
            }
            &:hover {
                background-color: rgba($color: $primary, $alpha: 0.3);
                transition: all 0.2s;
            }
        }
    }
    span {
        color: $secondary;
        font-weight: bold;
        font-size: small;
    }
}
.taskDone {
    opacity: 0.3;
    background-color: $grey;
    .actions button svg,
    span {
        color: $primary;
    }
}
