.container {
  position: fixed;
  top: 5px;
  z-index: 3;
  .options {
    display: flex;
    align-items: center;
    gap: 4px;
    font-family: cursive;
    font-size: 12px;
    width: fit-content;
  }

  .themePreview {
    width: 20px;
    height: 20px;
    border-radius: 8px;
    background: linear-gradient(
      90deg,
      var(--primary_color),
      var(--secondary_color)
    );
  }

  .default {
    background: linear-gradient(
      90deg,
      rgba(54, 48, 98, 1) 0%,
      rgba(31, 65, 114, 1) 40%,
      rgba(255, 173, 72, 1) 98%
    );
  }
  
  .dark {
    background: linear-gradient(
      90deg,
      rgba(19, 32, 67, 1) 0%,
      rgba(31, 65, 114, 1) 40%,
      rgba(241, 180, 187, 1) 90%
    );
  }

  .light {
    background: linear-gradient(
      90deg,
      rgba(255, 242, 216, 1) 0%,
      rgba(220, 204, 180, 1) 40%,
      rgba(17, 57, 70, 1) 98%
    );
  }
}
