.TitleTagContainer {
    position: absolute;
    width: fit-content;
    background-color: var(--light_secondary_color);
    border-radius: 4px;
    padding: 2px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 0.6rem;
        color: var(--tertiary_color);
        text-wrap: nowrap;
    }
}
.showTitleTag {
    top: 34px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
}

.hideTitleTag {
    top: 30px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}