@import "../../colors.scss";
.toDoListContainer {
    min-width: 300px;
    width: 70%;
    max-width: 750px;
    margin: auto;
    form {
        h1 {
            color: $secondary;
            font-size: 3rem;
            margin: 1rem;
        }
        label {
            display: flex;
            position: relative;
            input {
                font-size: 1rem;
                background-color: rgba($color: $primary, $alpha: 0.25);
                padding: 12px 48px 12px 16px;
                border-radius: 6px;
                width: 100%;
                border: 1px solid $tertiary;
                color: $tertiary;
                box-shadow: 0 0 0 0 $tertiary;
                font-family: cursive;
                transition: box-shadow 0.5s;
                &:focus,
                &:hover {
                    box-shadow: 0 0 8px -2px $tertiary;
                    outline: none;
                    transition: box-shadow 0.2s;
                }
            }
            ::placeholder {
                color: $tertiary;
                opacity: 0.5;
            }

            button {
                background-color: transparent;
                color: $secondary;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid $secondary;
                position: absolute;
                right: 12px;
                top: 10px;
                cursor: pointer;
                width: 28px;
                height: 28px;
                border-radius: 4px;
                transition: all 0.5s;
                outline: 1px solid transparent;
                svg {
                    font-size: 16px;
                }
                &:hover {
                    outline: 1px solid $secondary;
                    transition: all 0.2s;
                }
            }
        }
    }
    .list {
        display: flex;
        flex-direction: column;
        margin-top: 1.4rem;
        gap: 1.2rem;
    }
}
.farsiToDoListContainer {
    direction: rtl;
    font-family: cursive, "Tanha";
    form {
        label {
            input {
                padding: 12px 12px 12px 48px !important;
            }
            ::placeholder {
                color: $tertiary;
                padding-right: 8px;
            }
            button {
                right: unset;
                left: 12px;
            }
        }
    }
    ul > li > div {
        > p {
            text-align: right !important;
        }
        form {
            input {
                padding: 6px 8px 6px 30px !important;
            }
            button {
                right: unset !important;
                left: 0;
            }
        }
    }
}
// to be fixed later
.error {
    form {
        label {
            input {
                border: 1px solid $secondary;
                color: $tertiary;
                box-shadow: 0 0 0 0 $secondary;
                &:focus,
                &:hover {
                    box-shadow: none;
                    outline: 1px solid $secondary;
                }
            }
        }
    }
}
